<html>
<head>
<style>
body{
  background-color: #d1f2eb;
}
p.ridge {border-style: ridge;}
</style>

</head>

<body>
<div id="<%= dom_id movie %>">
  <p class="ridge">
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p class="ridge">
    <strong>Rating:</strong>
    <%= movie.rating %>
  </p>

  <p class="ridge">
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p class="ridge">
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

</div>
</body>
</html>
