<p style="color: green"><%= notice %></p>

<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
<% content_for :title, "Movies" %>

<h1>Movies</h1>
<table>
  <tr>
  <th><%= link_to "Movie Title", :sort => "title"%> </th>
  <th><%= link_to "Rating", :sort => "rating"%> </th>
  <th><%= link_to "Release Date", :sort => "release_date"%> </th>
  </tr>
 <% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title%></td>     
    <td><%=movie.rating %></td>     
    <td><%=movie.release_date %><td></td>  
    <td><%= link_to "Show this movie", movie %></td>      
  </tr>
  <% end %>
 </table>
<%= link_to "New movie", new_movie_path %>
