<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>
<table>
  <tr>
  <th><%= link_to "Movie Title", :sort => "title"%> </th>
  <th><%= link_to "Rating", :sort => "rating"%> </th>
  <th><%= link_to "Release Date", :sort => "release_date"%> </th>
  </tr>
 <% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title%></td>     
    <td><%=movie.rating %></td>     
    <td><%=movie.release_date %><td></td>  
    <td><%= link_to "Show this movie", movie %></td>      
  </tr>
  <% end %>
 </table>
<%= link_to "New movie", new_movie_path %>

#views/players/index.html.erb